<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Red Tie Friday</title>

        <script src="https://cdn.firebase.com/js/client/1.0.6/firebase.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js" type="text/javascript"></script>
        <script src="redtie_app.js"></script>
        <script src="util.js"></script>
        <script src="FirebaseBackedObject.js"></script>
        <script src="game.js"></script>
        <script src="player.js"></script>
        <script src="assassin.js"></script>

        <style type="text/css">
        </style>
    </head>
    <body ng-app="redtie">
        <div class="login" ng-controller="LoginCtrl" ng-init="init()">
                <div class="loading" ng-if="mode == modes.loading">
                    Loading player list...
                </div>

                <div class="playerSelect" ng-if="mode == modes.playerSelect">
                    <select multiple ng-model="selectedPlayer" ng-options="p as p.getName() for p in players"></select>
                    <button ng-click="login(selectedPlayer)">Log in</button>
                    <button ng-click="makeNewPlayer()">Make a new player</button>
                </div>

                <div class="newPlayer" ng-if="mode == modes.newPlayer">
                    <form novalidate>
                        <input ng-model="newplayer.name" required type="text" placeholder="Username" />
                        <button class="submit" ng-click="newUserSubmit()"/>Submit</button>
                    </form>
                </div>
        </div>
        <div class="admin controls">
        </div>
    </body>
</html>
